language: node_js
node_js:
  - "12"
before_deploy: npm run build
deploy:
  provider: pages
  local_dir: dist
  github_token: $GITHUB_TOKEN
  keep_history: true
  skip_cleanup: true
  on:
    branch: master
    tags: true
